@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

*::selection {
    color: rgb(18, 218, 168);
}

*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.l-main {
    width: 100%;
    height: 100vh;
    background-image: url("../img/loewe-technology-azMs02-lAFk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
}

.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, .67);
}

.container {
    max-width: 1150px;
    margin: auto;
    padding: 15px 0;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    padding: 10px 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    display: flex;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.navbar .navbar-items {
    display: inline-block;
    margin-left: 1rem;
}

.navbar .navbar-items .navbar-links {
    display: block;
    font-weight: 530;
    font-size: 18px;
    color: rgb(255, 255, 255);
}

.navbar .navbar-items .navbar-links::after {
    content: "";
    display: block;
    width: 0%;
    height: 2.5px;
    border-radius: .56rem;
    background: rgb(18, 178, 218);
    transition: width .3s;
}

.navbar .navbar-items .navbar-links:hover::after {
    width: 100%;
}


.section {
    padding-top: 100px;
    padding-bottom: 100px;
}

.content {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    color: white;
}

.content .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .title {
    font-size: 35px;
    text-transform: uppercase;
    padding-bottom: 25px;
}

.container .desc {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 35px;
}

.container .btnBox {
    display: inline-block;
}

.container .btnBox .btn {
    position: relative;
    display: inline-block;
    padding: 12px 55px;
    margin: 16px;
    border: 2px solid rgb(18, 178, 218);
    color: #ffff;
    overflow: hidden;
    outline: none;
    border-radius: 1.5rem;
    cursor: pointer;
    z-index: 2;
    background: transparent;
}

.container .btn::before {
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    left: -100%;
    z-index: -1;
    border-radius: 50px;
    background-color: rgb(18, 178, 218);

    transition: left .4s;
}

.container .btn:hover::before {
    left: 0;
}

.humbger {
    display: none;
}

@media screen and (max-width: 991px) {
    .content {
        width: auto;
    }

    .container .desc {
        width: auto;
    }

    .navbar .navbar-list {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        right: -100%;
        top: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.36);
        backdrop-filter: blur(4px);

        transition: right .5s;
    }

    .navbar .navbar-list.active {
        right: 0;
    }
    .navbar .navbar-items {
        margin-bottom: 15px;
    }

    .logo {
        left: 1.5rem;
    }

    .humbger {
        position: absolute;
        display: block;
        width: 35px;
        height: 35px;
        right: 1.5rem;
        top: 2rem;
        z-index: 100;

        border: none;
        outline: none;
        cursor: pointer;
    }

    .humbger .bar,
    .humbger::before,
    .humbger::after {
        content: "";
        display: block;
        width: 100%;
        height: 5px;
        margin: 8px 0;
        border-radius: 50px;
        background-color: rgb(255, 255, 255);
    }

    .humbger.active::before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }

    .humbger.active::after {
        transform: rotate(45deg) translate(-13px, -9.5px);
    }

    .humbger.active .bar {
        opacity: 0;
    }

   
}